{% extends 'base.html.twig' %}

{% block title %}{% trans %}Mot de passe oublié{% endtrans %}{% endblock %}

{% block body %}

    <section id="forgotten-password">
    <div class="row">
        <div id="forgotten-password-form" class="col-md-7  container">
            <h2 class="secondary-title">{% trans %}Mot de passe oublié{% endtrans %}</h2>
           {% for label,messages in app.flashes %}
						<div class="error-{{label}}">
							{% for message in messages %}
								<p>{% trans %}L'adresse email n'existe pas{% endtrans %}!</p>							{% endfor %}
						</div>
					{% endfor %}

            {{form_start(form)}}
            <div class="row">
                <div class="form-group col-md-12">
                    {{form_label(form.email)}}
                    {{form_widget(form.email)}}
                </div>
                <div class="form-group col-lg-4">
                    {{form_label(form.envoyer)}}
                    {{form_widget(form.envoyer, {'attr':{'class':'btn-primary'}})}}
                </div>
            </div>
            {{form_end(form)}}
        </div>
        <div id="forgotten-password-bg" class="col-5  container"></div>
    </div>
    </section>
{% endblock %}
