{% extends "baseAdmin.html.twig" %}

{% block body %}
  <div class="container mt-5">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">description</th>
          <th scope="col">Objectif</th>
          <th scope="col">Email</th>
          <th scope="col">Validation</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
        <tr class="table-info">
          <th scope="row">{{project.name}}</th>
          <td>{{project.description}}</td>
          <td>{{project.objectiveAmount}}</td>
          <td>{{ project.user.email }}</td>
          <td>{{project.isValid}}</td>
          <td><a href="{{path('project_edit', {'id':project.id})}}" class="fas fa-edit fa-1x"></a></td>  
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}