{% extends 'base.html.twig' %}

{% block title %}Je contribue !{% endblock %}

{% block body %}

    <div class="container mt-5">
    {% if app.user %}
            {{ form_start(formView) }}  
                {{ form_widget(formView) }}
                <button type="submit" class="btn btn-success mt-2">confirmation</button>
            {{ form_end(formView) }}
            {% else %}
            <h2>Vous devez être connecté pour confirmer cette contribution</h2>
            <a href="{{ path('security_login') }}">Connexion</a>
            <a href="{{ path('register') }}">S'inscrir</a>
    {% endif %}
        
    </div>

{% endblock %}
