<h1>Bonjour cher ami</h1>

<h1>Un nouveau projet appelé "{{ project.name }}" vient de naître.</h1>
<h3>id / Créateur :{{ user.id }} - {{ user.fullName }}</h3>
<h3>Email : {{ user.email }}</h3>
<h3>Numéro de contact :  {{ project.phoneNumber }}</h3>


<p>Vous avez 5 à 10 jours pour examiner tout ca.</p>

<p>Socialement votre, <br>
l'équipe Robot-Mailer de Social Planet</p>
