<h1>Bonjour {{ user.fullName }}</h1>

<h1>Votre contribution à bien été reçue, {{ project.name }} vous remercie. </h1>

<h2>Détails de la contribution :</h2>

<ul>
    <li>Nom du projet : {{ project.name }}</li>
    <li>Contribution : {{ purchase.total }}</li>
    <li>Objectif à atteindre : {{ project.objectiveAmount }}</li>
    <li>Où en sommes nous : {{ project.targetCounter }}</li>
</ul>

<p>Nous vous informerons si le projet arrive à atteindre son objectif dans les délais</p>

