<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
         <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
         <link rel="stylesheet" href="{{ asset('css/app.css') }}">
         <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
         <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
         
        <title>{% block title %}Admin base{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
           
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

    </head>
    <body>
      <nav class="nav-content">
       <input type="checkbox" id="check">
       <label for="check" class="checkbtn">
         <i class="fas fa-bars"></i>
       </label>
         <a class="logo" href="{{ path('homePage') }}"><img src="{{ asset('store/img/LOGO_SP_ORANGE.png') }}" alt=""></a>
         <ul>
           <li><a class="nav-link active" href="{{ path('homePage') }}">Revenir au site
                   <span class="visually-hidden">(current)</span>
                 </a></li>
           <li><a class="nav-link" href="{{ path('admin') }}">Acceuil</a></li>
           <li><a class="nav-link" href="{{ path('admin_projects') }}">Projets</a></li>
           <li><a class="nav-link" href="{{ path('admin_users') }}">Users</a></li>
           <li><a class="nav-link" href="">Mail</a></li>
           <li><a href="{{path('security_logout')}}">Déconnexion</a></li>
         </ul>
      </nav>
        {% block body %}
       
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            
        {% endblock %}  
        
    </body>
</html>