{% extends 'base.html.twig' %}

{% block title %}SP - Projects{% endblock %}

{% block body %}
    <div class="container-fluid mt-4">
        <div class="row col-22 flex mt-4">
            {% for project in projects %}
                {% if project.isValid == true %}
                        <div class="card col-3 m-2 flex-content">
                            <img src="https://picsum.photos/180/140" class="img-fluid" alt="Image du projet">
                            <div class="card-body">
                                <h4 class="card-title"> {{ project.name }}</h4>
                                <p class="card-text">{{ project.description }}</p>
                                <a href="{{ path('project_show', {'id':project.id}) }}" class="btn-sm">Details</a>
                                <a href="{{ path('purchase', {'id':project.id}) }}" class="btn-sm-w">Je contribue く</a>
                            </div>
                        </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
        {# <div class="modal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="btn-close" >
                        <span>X</span>
                        </button>
                    </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div> #}
        {# {% include "shared/_modal.html.twig" %} #}
    





{# with{
            'title': 'Vous voulez aidez{{ project.name }}? Participez au coup de pouce en faisant une donnation.',
            'text': 'ici le formulaire'
        } #}
